body{
  font-size: 16px !important;
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamRounded-Bold.otf) format("opentype");
}
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamRounded-Medium.otf) format("opentype");
}
@font-face {
  font-family: dkBrushzilla;
  src: url(../fonts/dkBrushzilla.otf) format("opentype");
}


.navbar {
  box-shadow: 1px 1px 5px #3A3268;
  /*opacity: 0.9;*/
  background: #fff; }

.navbar .nav-item {
      font-size: 1.4rem  !important ;
      padding-right: 1.4rem !important; }

   a{
        
            color: #3D3060;
            text-decoration: none;
            background-color: transparent;
            font-size: 0.8em;
            font-weight: bold;
      }

    a:hover, a:hover span { 
      color: yellow !important;
    }


.contactanos{
  background-color: #3A3268
}

.form-area
{
    background-color: #1CB5BE;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
  }
  
.btn-contact{
  
    background-color:#1CB5BE;
    color: #3A3268;
    font-weight: bold;
    border: 2px solid #3A3268; /* Green */
    transition-duration: 0.4s;
}
.btn-contact:hover {
  background-color: #3A3268; /* Green */
  color: white;
}

.footers{
  overflow: hidden;
  background:#3A3268 !important;
  color:white;
  

}


.footers{

  background:#3A3268 !important;
  color:white;
  

}


.fondo{
  overflow: auto;
  background-color:#3A3268 !important;


}

.cursos1{
  overflow: auto;
  color:#1CB5BE;
  margin-right: 2px; 
  margin-left: 2px; 
  margin-top: 2px;
  margin-bottom: 2px; 
  text-align: center; 
    width: 50%;
    padding: 70px 0;

}

.cursos1:hover{
  background-color: #1CB5BE; 
  color: white;
}

.map_area .mapBox {
  height:800px;
  width: 100%;
  position: relative !important;
  left: 0px;
      margin-right: 0px; 
     margin-left: 0px; 
}
.programas{
  width: 3em;
  height: 14em;
  padding-bottom: 10px;
}

.boton{
  width: 100%;
  height: 100%;
  border-radius:0;
  background: #3A3268;
  color: #1CB5BE;
  padding: 14px 24px;
  border: 0 none;
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size:1.5em  !important;
}

.boton:hover{
  background-color: #1CB5BE; 
  color: white;
}
.principal {
  height: 100%;
  margin: 0;
}
.fix-height{
  height: 100%;
}
.fix-height body{
  height: 100%;
}
.fix-height body .bgkids{
  height: 100%;
}

html,
body {
/* width: 100%;
height: 100%; */
}

body{
  overflow: hidden;
  overflow-y: auto;
}

.bgkids {
  position: relative;
  /* The image used */
  /* background-image: url(../img/kids/kids.jpg); 
  background-size: cover;
  height: 100%; */
}
.bgkids img{

  width: 100%;
}
.bgkids > div{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bgkids > div img{
  height: auto;
  width: 50%;
  position: absolute;
}


.bg {
  /* The image used */
  background-image: url("../img/p1.jpg");
  /* Full height */
  height: 500px; 
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("../img/p2.jpg");
  /* Full height */
  height: 500px; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg3 {
  /* The image used */
  background-image: url("../img/p3.jpg");
  /* Full height */
  height: 500px; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg4 {
  /* The image used */
  background-image: url("../img/p4.jpg");
  /* Full height */
  height: 500px; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondoplomo{
 background-color: #EFF3F5;
 color:#3A3268;

}


#programas [aria-expanded="true"] { 
  background-color:#1CB5BE;
  color: white;
}


.boton2{
  width: 75%;
  border-radius:0;
  background: #FFE800;
  color: #A33489;
  padding: 14px 24px;
  border: 0 none;
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size:1.5em  !important;
}

.boton2:hover{
  background-color: #A33489; 
  color: white;
}

